* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Colori*/
:root {
    --bgbody-lightblack: rgb(85, 71, 102);
    --bgcard-lightviolet: rgb(113, 32, 211, 0.2);
    --bgheader-violet: rgb(85, 21, 162);
    --hover-bgheader-violet: rgb(59, 15, 113);
    --textheader-yellow: rgb(243, 220, 129);
    --hover-textheader-yellow: rgb(235, 194, 28);
    --button-grey: rgb(188, 188, 188);
    --button-black: rgb(70, 70, 70);
    --button-red: rgb(230, 0, 0);
    --button-scarlet: rgb(180, 0, 0);
    --text-white: rgb(230, 230, 230);
    --text-strongwhite: rgb(255, 255, 255);
    --text-black: rgb(0, 0, 0);
    --text-lightblack: rgb(15, 15, 15);
    --bgtable-grey: rgb(189, 189, 189);
    --hover-bordercard-darkviolet: rgb(40, 0, 88);
    --hover-bgcard-lightviolet: rgb(113, 32, 211, 0.5);
    --cardtext-grey: rgb(166, 162, 148);

}


body {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bgbody-lightblack);

}

main {
    display: flex;
    justify-content: center;


    & .container {
        width: 90%;

        & h1 {
            font-size: 45px;
            text-align: center;
            color: var(--text-black);
            text-transform: uppercase;
        }

        & .row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;

            & .card {

                width: calc((100%/12 * 3) - 2rem);
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--bgcard-lightviolet);
                padding: 1rem;
                margin: 1rem;
                border: 5px solid var(--hover-bgheader-violet);
                border-radius: 20px;
                cursor: pointer;


                & .mask {

                    width: 250px;
                    max-height: 320px;
                    overflow: hidden;
                    align-self: center;
                    border-radius: 5px;

                    & img {
                        width: 100%;
                    }

                }

                & .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 250px;
                    gap: 8px;
                    color: var(--text-black);
                }
            }

            & .card:hover {

                background-color: var(--hover-bgcard-lightviolet);
                border: 5px solid var(--hover-bordercard-darkviolet);
                box-shadow: 0px 0px 10px 1px var(--hover-textheader-yellow);


                & .text {
                    color: var(--cardtext-grey);
                }
            }


        }
    }

}



/*START BUTTONS*/
.purple-button {
    padding: 0.5rem 1rem;
    border-radius: 19px;
    border: 0px;
    background-color: var(--bgheader-violet);
    color: var(--textheader-yellow);
    font-size: 18px;
    font-weight: 600;
}

.purple-button:hover {
    background-color: var(--hover-bgheader-violet);
    color: var(--hover-textheader-yellow);
}

/*END BUTTONS*/



/*START MODAL*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    & .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;

        & .close {
            color: var(--button-grey);
            float: right;
            font-size: 40px;
            font-weight: bold;
        }

        & .close:hover,
        .close:focus {
            color: var(--button-black);
            text-decoration: none;
            cursor: pointer;
        }

        & .modal-texts {
            padding: 1rem 0 0.5rem 0;
        }

        & .modal-buttons {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0 0.5rem 0;
            border-top: 1px solid var(--button-grey);

            & .button {
                padding: 8px 10px;
                border-radius: 16px;
                border: 0px;
                font-weight: 600;
            }

            & .grey {
                background-color: var(--button-grey);

            }

            & .grey:hover {
                background-color: var(--button-black);
                color: var(--text-white);
            }

            & .red {
                background-color: var(--button-red);
                color: var(--text-white);
            }

            & .red:hover {
                background-color: var(--button-scarlet);
                color: var(--text-strongwhite);
            }

        }


    }
}

/*END MODAL*/